* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(255, 255, 248);
}

.content {
  margin-inline: auto;
  width: 55vw;
  position: relative;
}


.navbar {
  background-color: #3A56DD;
}

.navbar-content {
  background-color: #3A56DD;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  width: 60vw;
  position: relative;
}

.rebase_labs {
  font-size: 24px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  border: none;
  padding: 1rem 20px;
  margin-right: 10px;
  cursor: pointer;
}

.nav-link:hover {
  color: white;
  background-color: rgb(25, 26, 105);
  cursor: pointer;
}

.search_token {
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 8px;
  margin-right: 5px;
}

.search-form button[type="submit"] {
  background-color: rgb(153, 227, 153);
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.search-form button:hover {
  background-color: rgb(185, 255, 185);
  color: black;
}


.page-title {
  margin-block: 2rem;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.exam-table-row:hover {
  background-color: #ccc;
  cursor: pointer;
}

.table-header {
  font-weight: bold;
  font-size: large;
  background-color: #3A56DD;
  color: white;
  display: flex;
  border-bottom: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.table-item {
  flex: 1;
  padding: 10px;
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #f6f8ff;
}

.patient-doctor-info {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.not-found {
  text-align: center;
  margin-top: 2rem;
}

button.token-btn {
  all: unset;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.test-title {
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}


#import-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  background-color: #f9f9f9;
}

.import-btn[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.import-btn:hover {
  background-color: #0056b3;
}

.import-text {
  margin: 0.5rem;
} 

.suported-files {
  font-size: small;
  font-weight: bold;
}

#patient, #doctor {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 80%;
  padding: 20px;
}

.info-header {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

#patient + #doctor {
  margin-left: 20px;
}



.flash-message {
  background-color: #4caf50;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  position: fixed;
  right: 10%;
  bottom: 10%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flash-message.processing {
  background-color: #007bff; 
}

.flash-message.success {
  background-color: #4caf50; 
}

.flash-message.error {
  background-color: #f44336;
}

.flash-message.show {
  animation: slideIn 0.3s ease forwards;
}

.flash-message.hide {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}